@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.accordian-item {
    list-style: none;
}

.accordian-item button {
    margin: 0.5rem 0rem;
    background-color: #383838;
    color: White;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border-radius: 1rem;
    outline: none;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.active,
.accordian-item button:hover {
    background-color: #ccc;
    color: #383838;
}

.panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}
